@font-face {
  font-family: "Sansation Bold";
  src: url("/p1-website-static/static/fonts/Sansation_Bold.ttf");
}

@font-face {
  font-family: "Sansation Regular";
  src: url("/p1-website-static/static/fonts/Sansation_Regular.ttf");
}

@font-face {
  font-family: "Sansation Light";
  src: url("/p1-website-static/static/fonts/Sansation_Regular.ttf");
}